@model AtoZBanking.Models.Accounts
@{
    ViewData["Title"] = "Edit";
}


@using (Html.BeginForm("Edit", "AtoZBanking", new { Id = @Model.AccountId }, FormMethod.Post))
{
    <h1>Edit Account</h1>

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td>@Html.LabelFor(a => a.AccountName)</td>
            <td>@Html.TextBoxFor(a => a.AccountName)</td>
            <td>@Html.ValidationMessageFor(a => a.AccountName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Balance)</td>
            <td>@Html.TextBoxFor(a => a.Balance)</td>
            <td>@Html.ValidationMessageFor(a => a.Balance)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Save" />
                @Html.ActionLink("Back to List", "Accounts", "AtoZBanking")
            </td>
            <td></td>
        </tr>
    </table>
}

@if (ViewBag.alert != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.alert");
            };
    </script>
}

